body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.company-page-wrapper {
  min-height: 100vh;
  color: rgb(219, 219, 219) !important;
  line-height: 2rem;
}

.company-page-wrapper .img-holder {
  width: 100%;
  height: 30vh;
}

.company-page-wrapper .company-holder {
  width: 60%;
  margin: 0 auto;
  margin: 3rem auto;
  line-height: 2.5rem;
}

.company-page-wrapper .company-holder h1 {
  text-align: center;
  color: #c20000;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.company-page-wrapper .company-holder h4 {
  color: #c20000;
}

.company-page-wrapper .img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  background-color: #000000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.4;
}

.image-holder-products {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 1rem;
  gap: 1rem;
}
.image-holder-products .image-div {
  margin-top: 1rem;
  width: 40%;
}

.image-holder-products .image-div img {
  /* image to fit in div */
  width: 100%;
}

@media (max-width: 768px) {
  .company-page-wrapper .company-holder h1 {
    text-align: center;
    color: #c20000;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .company-page-wrapper .company-holder {
    width: 80%;
    margin: 0 auto;
    margin: 3rem auto;
  }
  .image-holder-products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding: 1rem;
    gap: 1rem;
  }
  .image-holder-products .image-div {
    width: 100%;
  }
}
