body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.company-page-wrapper {
  min-height: 100vh;
  color: rgb(219, 219, 219) !important;
  line-height: 2rem;
}

.company-page-wrapper .img-holder {
  width: 100%;
  height: 30vh;
}

.company-page-wrapper .company-holder {
  width: 60%;
  margin: 0 auto;
  margin: 3rem auto;
}

.company-page-wrapper .company-holder h1 {
  text-align: center;
  color: #c20000;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.company-page-wrapper .company-holder h4 {
  color: #c20000;
}

.company-page-wrapper .img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  background-color: #000000;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.4;
}

@media (max-width: 768px) {
  .company-page-wrapper .company-holder h1 {
    text-align: center;
    color: #c20000;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .company-page-wrapper .company-holder {
    width: 80%;
    margin: 0 auto;
    margin: 3rem auto;
  }
}
