.company-holder {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.download-title {
  font-weight: 600;
}

.download-wrapper .download-items {
  list-style: none;
  transition: 0.5s;
  line-height: 4rem;
}

.download-wrapper .download-items a {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
}

.download-wrapper .download-items a i {
  margin-right: 1rem;
}

.download-wrapper .download-items:hover a {
  color: crimson;
}

@media (max-width: 768px) {
  .download-wrapper .download-items a {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .download-wrapper .download-items a {
    font-size: 1rem;
  }
}
